body {
   font-family: "Lato", sans-serif;
   line-height: 160%;
   color: #424551;

}

[class*="-container"] {
   max-width: 1230px;
   margin: 0 auto;
}

.about-caption {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 40px;
}

.about-text {
   margin-bottom: 46px;
}

.learn-text {
   font-weight: 700;
   font-size: 28px;
   line-height: 150%;
   color: #1E212C;
   margin-bottom: 24px;
}

.learn-list {
   margin-bottom: 40px;
}

.learn-list li:not(:last-child) {
   margin-bottom: 10px;
}

.learn-list li {
   background: url(../img/svg/check.svg) 0 5px / 16px 16px no-repeat;
   margin-bottom: 4px;
   padding-left: 32px;
   /* min-height: 35px; */
}

.curator {
   font-weight: 700;
   line-height: 150%;
   color: #1E212C;
   margin-bottom: 8px;
}

.cody-caption {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 16px;
}

.designer {
   font-size: 20px;
   line-height: 150%;
   color: #787A80;
   margin-bottom: 32px;
}  

.statistic {
   font-weight: 700;
   color: #424551;
   margin-bottom: 32px;
}

.statistic li:not(:last-child) {
   margin-bottom: 10px;
}

.statistic li.rate {
   background: url(../img/svg/star.svg) 0 5px / 16px 16px no-repeat;
   margin-bottom: 4px;
   padding-left: 32px;
}

.statistic li.courses {
   background: url(../img/svg/play.svg) 0 5px / 16px 16px no-repeat;
   margin-bottom: 4px;
   padding-left: 32px;
}

.statistic li.students {
   background: url(../img/svg/person.svg) 0 5px / 16px 16px no-repeat;
   margin-bottom: 4px;
   padding-left: 32px;
}

.cody-text {
   margin-bottom: 46px;
}

/* ========== Home Work ========== */
.hover,.active, .visited, .focus, .before{
   margin-bottom: 20px;
}
.hover:hover {
   background-color: blue;
   color: darkorange;
}

.active:active {
   background-color: aquamarine;
   color: red;
   text-decoration: underline;
}

.vis:visited {
   color: crimson;
}

.foc:focus {
   outline: dotted;
}

.child {
   background-color: bisque;
   padding: 10px;
}

.child p:not(:last-child) {
   margin-bottom: 10px;
}

/* (.child *:first-child - любой первый объект) */
/* .child p:first-of-type - первый указанный объект */
.child p:first-child {
   color: red;
}

/* :nth-child(odd) - не четные (even) - четные */
.child p:nth-child(2) {
   color: blue;
}

.child p:last-child {
   color: green;
}

/* ===== pseudo-elements ===== */
.span::before {
   content: "(";
}

.span::after {
   content: ")";
}

.div::before {
   content: "(";
}

.div::after {
   content: ")";
}

.before {
   margin-left: 20px;
}

.before li:not(last-shild) {
   margin-bottom: 10px;
}

.before li::before {
   background: url(../img/svg/check.svg) 0 0 no-repeat;
   content: "";
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 10px;
}

.before li:hover::before {
   transition: all 0.8s ease 0s;
   transform: scale(1.5);
}

ol {
   margin-left: 20px;
   counter-reset: item;
}

ol li {

}

ol li::before {
   counter-increment: item;
   content: counter(item)".";
   display: inline-block;
   margin-right: 10px;
   color: aqua;
}

footer {
   text-align: center;
}
